*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.conteinerMain{
    display: flex;
    width: 100%;
    height: calc(100vh - 90px);
}

/* ##### CONTEINER LEFT ##### */

.conteinerLeft{
    width: 230px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
}

/* LOGO */

.logo{
    width: 100%;
    height: 90px;
    padding: 1.2rem 0;
}

.logo > img{
    width: 70%;
    height: 100%;
}

/* NAVI */

.navi{
    width: 100%;
    padding: 20px 0;
    line-height: 2.2rem;
}

.navi > a{
    color: rgb(168, 164, 164);
    padding-left: 0.5rem;
    vertical-align: top;
 }

 .navi > img{
    width: 1.8rem;
 }

/* PLAYLIST */

.playlist{
    width: 100%;
    height: 100%;
    line-height: 2.2rem;
    overflow-y: auto;
 }

.playlist > h3{
     font-size: 0.9rem;
     color: white;
 }

.playlist > a{
     color: rgb(168, 164, 164);
     font-size: 0.9rem;
}

.playlist  button{
    font-size: 2rem;
    font-weight: bolder;
    width: 2.5rem;
    background-color: rgb(168, 164, 164);
    border: none;
}

#playlistBig{
     font-size: 1.1rem;
     padding-left: 0.5rem;
 }
    
/* INSTALL */

.install{
    width: 100%;
    padding: 0.5rem 1.2rem;
}

.install  img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    background-color: grey;
}

.install > button{
     border: 1px solid white;
     border-radius: 50%;
     padding: 0 0.3rem;
     background-color: black;
     margin-right: 0.5rem;
}

 button > .fa-solid{
    font-size: 7px;
    color: white;
}

.install > span{
    color: rgb(168, 164, 164);
    font-size: 0.8rem;
 }

.install  p{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    padding-left: 0.5rem;
}

 hr{
    margin: 1rem 0;
    border-color:rgb(168, 164, 164);
}

.account{
    display: flex;
    align-items: center;
}

span:hover{
    color: white;
}

#buttonNone:hover{
    background-color: white;
}

/* ##### CONTEINER RIGHT ##### */

.conteinerRight{
    width: calc(100% - 230px);
    background-color: #141922;
    overflow-y: auto;
}

@media screen and (max-width: 552px) {
    
    .conteinerLeft{
        width: 50px;
        padding: 0.7rem;
        justify-content: center;
    }

    .conteinerLeft span , h3 , p , hr , a {
        display: none;
    }

    #buttonNone{
        display: none;
    }

    .install{
        padding: 0;
    }

    .conteinerRight{
        width: calc(100% - 50px);
    }

    .logo{
        width: 100%;
        height: 90px;
        padding: 1.2rem 0;
        background-image: url(./img/logo-small.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .logo > img{
        display: none;
    }

    .install > button{
        margin: 2rem 0.4rem;
    }

}

/* ##### HEADER ##### */

header{
    width: calc(100% - 230px );
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1.3rem;
    position: fixed;
    z-index: 90;
 }

header > button{
    width: 219px;
    padding: 0.8rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 1.8rem;
}

#callToAction:hover{
    scale: 1.1;
}


@media screen and (max-width: 552px) {
    
    header{
        width: calc(100% - 50px);
    }
}

/* ##### NAV ##### */

nav{
    width: 100%;
    padding-top: 90px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.boxNav{
    width: calc(100% / 3);
    padding: 1rem 0;
}

.boxNav > a{
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(168, 164, 164);
}

@media screen and (max-width: 552px) {
    
    .boxNav{
        width: calc(100% / 4);
    }

}

@media screen and (min-width: 878px) {
    
    .boxNav{
        width: calc(100% / 5);
    }
    
}

@media screen and (min-width: 1400px) {
    
    .boxNav{
        width: calc(100% / 6 - 6%);
    }
}

.lineGreen{
    width: 30px;
    margin: 0 auto;
    border-color: green;
    display: none;
}

a:hover{
    color: white;
}

.boxNav:hover .lineGreen{
    display: block;
}

/* ##### MAIN ##### */

main{
    width: 100%;
    }

.flexWrap{
    display: flex;
    flex-wrap: wrap;
}

.conteiner{
    padding: 1rem;
}

.conteiner > h1{
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.conteiner > p{
    margin-top: -0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    color: rgb(168, 164, 164);
}

.card{
    width: calc(100% / 2 - 0.5rem);
    padding: 0.5rem;
}

.picFilm{
    width: 100%;
    position: relative;
}

.picFilm > img{
    width: 100%;
}

.infoFilm , .infoMusic{
    text-align: center;
}

.infoFilm > h3{
    color: white;
    padding: 0.3rem;
    font-size: 1rem;
}

.infoFilm > p{
    color: rgb(168, 164, 164);
    font-size: 0.8rem;
}

.picMusic , .picMusic_circle{
    width: 100%;
}

.picMusic > img{
    width: 100%;
}

.picMusic_circle > img{
    width: 100%;
    border-radius: 50%;
}

.infoMusic > h3{
    color: white;
    padding: 0.3rem;
    font-size: 1rem;
}

.hoverPlay > .fa-circle-play{
    font-size: 7vw;
    color: white;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.cardHover:hover >img{
    filter: opacity(30%)
}

.cardHover:hover .fa-circle-play{
    display: block;
}


@media screen and (min-width: 878px) {
    
    .card{
        width: calc(100% / 4 - 0.5rem);
        padding: 0.5rem;
    }
}

@media screen and (min-width: 1400px) {
    
    .card{
        width: calc(100% / 6 - 0.5rem);
        padding: 0.5rem;
    }
}


/* ##### FOOTER ##### */

footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    z-index: 100;
    position: fixed;
    bottom: 0;
}

.conteinerFood{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.footerLeft{
    width: 25%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.footerCenter{
    width: 40%;
    height: 100%;
}

.footerRight{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

.songImg{
    width: 30%;
}

.songImg > img{
    width: 80%;
    display: block;
}

.songName{
    width: 50%;
}

.songName > h4{
    color: white;
}

.songName > p{
    color: rgb(168, 164, 164);
    font-size: 0.8rem;
}

.save{
    width: 10%;
    color: rgb(168, 164, 164);
}

.fa-heart:hover , .fa-folder:hover{
    color: white;
}

.play{
    width: 100%;
    height: 50%;
    display: flex;
    color: white;
}

.time{
    width: 100%;
    height: 50%;
}

.boxPlay{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxPlayBig{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.time{
    width: 100%;
    height: 50%;
    display: flex;
    color: white;
    padding: 1rem;
}

.startTime{
    display: flex;
    align-items: center;
}

.lineTime{
    width: 80%;
    padding: 0 0.5rem;
}

.lineGrey{
    white-space: 90%;
    height: 7px;
    background-color: grey;
    border-radius: 1rem;
    margin-top: 0.1rem;
}

.footerRight  .fa-solid{
    padding: 0.3rem;
}

.lineWhite{
    width: 20%;
    height: 7px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    bottom: 0.4rem;
}

.optionAudio{
    width: 40%;
    display: flex;
    margin-right: 0.8rem;
}

.audio{
    width: 60%;
}

.audioGrey{
    white-space: 90%;
    height: 7px;
    background-color: grey;
    border-radius: 1rem;
    margin-top: 0.4rem;
    margin-left: 0.8rem;
}

.audioWhite{
    width: 20%;
    height: 7px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    bottom: 0.4rem;
    margin-left: 0.8rem;
}

.lineTime:hover > .lineWhite{
    background-color: green;
}

.lineTime:hover  .ball{
    display: block;
}

.audio:hover > .audioWhite{
    background-color: green;
}

.ball{
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
    position: relative;
    bottom: 0.4rem;
    left: 3.2rem;
    display: none;
}

.ball2{
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1rem;
    position: relative;
    bottom: 0.4rem;
    left: 1.8rem;
    display: none;
}

.audio:hover  .ball2{
    display: block;
}



.boxPlayBig:hover{
    scale: 1.2;
}

@media screen and (max-width: 552px) {
    
    .footerLeft{
        width: 30%;
    }
    
    .footerRight{
        width: 30%;
    }
    .conteinerFood{
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {
    
    .footerLeft{
        max-width: 300px;
    }
    
    .footerCenter{
        max-width: 480px;
    }
    
    .footerRight{
        max-width: 300px;
    }

    .conteinerFood{
        justify-content: space-between;
    }

    .audioGrey{
        margin-left: 0rem;
    }
    
    .audioWhite{
        margin-left: 0rem;
    }

}

